# Environment variables
.env

# Unwanted files excluded for security reasons
readme.html
xmlrpc.php
license.txt

# Local files
*.log
local-*info.php

# IDE files
.idea
.vscode

# Composer
vendor
composer.phar

# Node.js / npm
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
