.blog-posts {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    article:hover .edit-post-link {
        @extend .d-inline-block;
    }

    article {
        grid-template-rows: subgrid;
        grid-row: span 6;

        footer.d-grid {
            grid-template-columns: auto 1fr;
            align-items: start;
            align-content: start;
        }
    }
}
