// these margins are a guess, need to standardize this or create a spacer module?
.divider-inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-block-end: var(--spacer-normal);
    margin-block-start: var(--spacer-normal);
    padding-top: .7rem;
    border-top: solid .2rem var(--primary-light);

    .small-all-caps {
        color: var(--primary-light);
        max-width: 90%;
        text-align: right;
    }

    .tall & {
        margin-block-end: var(--spacer-tall);
    }
}
